<div class="information-area">
	<div class="container">
		<h1>General Information Blockchain</h1>
		<div class="row justify-content-between pt-5">
			<div class="col px-5">
				<h4>Lates Blocks</h4>
				<table class="content-table-1" style="font-size: small;">
					<!--Table head-->
					<thead>
						<tr>
							<th>Height</th>
							<th>Hash</th>
							<th>Nonce</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<!--Table head-->

					<!--Table body-->
					<tbody>
						<tr class="" *ngFor="let block of recentBlock; index as index">
							<td class="text-truncate" scope="row">
								<a href="">{{block.height}}</a>
							</td>
							<td class="text-truncate" style="max-width: 120px;">
								<div style="overflow-x: hidden; white-space: nowrap;">{{ block.hash }}</div>
							</td>
							<td>{{ block.nonce }}</td>
							<td>{{ block.timestamp |date:'MMM d, y, HH:mm'}}</td>
						</tr>
					</tbody>
					<!--Table body-->
				</table>
				<button [routerLink]="['allblock']" type="button" class="btn btn-primary">View All Block
					&#8658;</button>
			</div>
			<div class="col px-5">
				<h4>Lates Transactions</h4>
				<table class="content-table-1" style="font-size: small;">
					<thead>
						<tr>
							<th>#</th>
							<th>From</th>
							<th>title</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let tx of recentTrans; index as index">
							<td>{{index}}</td>
							<td class="text-truncate" style="max-width: 120px;">
								<div style="overflow-x: hidden; white-space: nowrap;">{{ tx.fromAddress }}</div>
							</td>
							<td class="text-truncate" style="max-width: 120px;">
								<div style="overflow-x: hidden; white-space: nowrap;">{{ tx.title }}</div>
							</td>
							<td>{{ tx.timestamp |date:'MMM d, y, HH:mm' }}</td>
						</tr>
					</tbody>
				</table>
				<button [routerLink]="['alltransaction']" type="button" class="btn btn-primary">View All Transaction
					&#8658;</button>
			</div>
		</div>
		<!--Table-->
		<!-- <table class="content-table-1">
				<thead>
					<tr>
						<th>Block</th>
						<th>Hash</th>
						<th>Hash of Previous Block</th>
						<th>Nonce</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let block of blocks; index as index">
						<td>{{ getBlockNumber() }}{{index}}</td>
						<td>{{ block.hash }}</td>
						<td>{{ block.previousHash }}</td>
						<td>{{ block.nonce }}</td>
						<td>{{ block.timestamp }}</td>
					</tr>
				</tbody>
			</table> -->
		<!-- <app-block-view *ngFor="let block of blocks" [block]="block" [selectedBlock]="selectedBlock"
				(click)="showTransactions(block)">
			</app-block-view> -->
	</div>
</div>

<!-- <div class="container">
	<h1>Blocks on chain</h1>
	<p>Each card represents a block on the chain. Click on a block to see the transactions stored inside.</p>
</div> -->

<!-- <div class="container" style="overflow-x: scroll;white-space: nowrap;">
	<app-block-view *ngFor="let block of blocks" [block]="block" [selectedBlock]="selectedBlock"
		(click)="showTransactions(block)"></app-block-view>
</div> -->

<br><br>
<!-- 
<div class="container">
	<h1>Transactions inside block {{ getBlockNumber(selectedBlock) }}</h1>
	<app-transactions-table [transactions]="selectedBlock.transactions"></app-transactions-table>
</div> -->