<div class="information-area">
	<div class="container">
		<h1>General Information Blockchain</h1>
		<div class="row justify-content-between pt-5">
			<div class="col px-5">
				<h4>Lates Blocks</h4>
				<table class="content-table-1" style="font-size: small;">
					<!--Table head-->
					<thead>
						<tr>
							<th>Height</th>
							<th>Hash</th>
							<th>Nonce</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<!--Table head-->

					<!--Table body-->
					<tbody>
						<tr class="" *ngFor="let block of blocks;">
							<td class="text-truncate">
								<a [routerLink]="['/detailblock', block.hash]">
									{{block.height}}</a>
							</td>
							<td class="text-truncate" style="max-width: 120px;">
								<a [routerLink]="['/detailblock', block.hash]">
									<div style="overflow-x: hidden; white-space: nowrap;">{{ block.hash }}</div>
								</a>
							</td>
							<td>{{ block.nonce }}</td>
							<td>{{ block.timestamp |date:'MMM d, y, HH:mm'}}</td>
						</tr>
					</tbody>
					<!--Table body-->
				</table>
				<button [routerLink]="['allblock']" type="button" class="btn btn-primary">View All Block
					&#8658;</button>
			</div>
			<div class="col px-5">
				<h4>Lates Transactions</h4>
				<table class="content-table-1" style="font-size: small;">
					<thead>
						<tr>
							<th>HashTx</th>
							<th>Dinas</th>
							<th>Title</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let tx of transactions; index as index">
							<td class="text-truncate" style="max-width: 120px;">
								<a [routerLink]="['/detailtransaction', tx.signature]">
									<div style="overflow-x: hidden; white-space: nowrap;">{{ tx.signature }}</div>
								</a>
							</td>
							<td class="text-truncate" style="max-width: 120px;">
								<a [routerLink]="['/detailorganization', tx.organization]">
									<div style="overflow-x: hidden; white-space: nowrap;">{{ tx.organization }}</div>
								</a>
							</td>
							<td class="text-truncate" style="max-width: 120px;">
								<div style="overflow-x: hidden; white-space: nowrap;">{{ tx.title }} {{tx.year}}</div>
							</td>
							<td>{{ tx.timestamp |date:'MMM d, y, HH:mm' }}</td>
						</tr>
					</tbody>
				</table>
				<button [routerLink]="['alltransaction']" type="button" class="btn btn-primary">View All Transaction
					&#8658;</button>
			</div>
		</div>
	</div>
</div>
<br><br>